@model List<ContactModel>

@{
    ViewData["Title"] = "Contactos";
}

<div>
    <h1 class="text-center display-4">Contactos</h1>
    <p class="text-center">A sua lista de contactos.</p>

    <div class="d-flex justify-content-between mb-2">
        <a asp-controller="Contact" asp-action="Create" class="btn btn-success" role="button">Criar contacto</a>

        <form class="d-flex">
            <input type="text" name="search" class="form-control" placeholder="Pesquisar" />
            <button type="submit" class="btn btn-primary text-white ms-1">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
    <table class="table table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Grupo</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (ContactModel contact in Model)
                {
                    <tr>
                        <th scope="row">@contact.Id</th>
                        <td>@contact.Name</td>
                        <td>@contact.Email</td>
                        <td>Família</td>
                        <td>@contact.Phone</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.Id" role="button" class="btn btn-primary btn-sm">Editar</a>
                                <a asp-controller="Contact" asp-action="Destroy" asp-route-id="@contact.Id" role="button" class="btn btn-danger btn-sm">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            } else
            {
                <tr>
                    <td class="text-center" colspan="6">Sem contactos para apresentar</td>
                </tr>
            }
        </tbody>
    </table>
</div>
